#head .overlay, #background-img .overlay {
  background-color: rgba(0,0,0,0.45);
  max-width: 645px;
  margin:auto;
  padding: 15px;
  font-size: 15px
}

#start-driving h3 {
  margin-bottom: 0;
}

#start-driving .lyft img {
  margin-top: 43px;
}

#start-driving .sidecar img {
  margin-top: 64px;
}

.highlight .h-body {
  font-weight: 400;
}

.faq-item {
  margin-bottom:20px;
}

#qualify ul {
  font-size:20px;
  margin-top: 20px
}

#qualify .btn {
  margin-top: 90px;
}

#become {
  margin-top:100px
}

.navbar .brand {
  color: white !important;
  font-size: 16px;
}
.navbar .brand span {
  font-size: 32px;
}

#more-info {
  margin-top: 110px;
}

#more-info ul {
  list-style: none;
}
.maincontent {
  margin-bottom: 50px;
}
#curriculum-content {
  margin-top: 110px;
}

.step1 h3 {
  text-align: center;
}
.step1 .lyft img {
  margin-top: 30px;
  margin-left: 34px;
}
.step1 .sidecar img {
  margin-top: 45px;
}
.step1 .uber img {
  margin-left: 20px;
}
.step1 ul {
  list-style: none;
  padding-left: 10px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}
#background-img {
  background-color: red;
  padding-top: 100px;
  background-image: url( ../images/sizeHead.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #181015;
  background-size: cover;
}

.founders {
  margin-top: 30px;
}


.founders.sollars img {
  width: auto;
  height: 175px;
  position:relative;
  bottom:30px;
}


.founders.trotman img {
  width: auto;
  height: 175px;
}

#background-img .overlay {
  margin-top: 40px;
}
#background-img .overlay h1 {
  color: white;
  margin:0;
  text-align: center;
  font-weight: 400;
  padding-top: 10px;
}




















